@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kamtek_GestioN</h1>
    <p>Learn about <a href="https://www.domotique-store.fr/">Gestion stock</a>.</p>

</div>

<div class=" container w-50 justify-content-lg-center">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/clavier.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/image gestion.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/logoKamteck.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/materiels.png" alt="Third slide">
            </div>

        </div>
    </div>
    </div>
