@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kamtek_GestioN</h1>
    <p>Learn about <a href="https://www.domotique-store.fr/">Gestion stock</a>.</p>

</div>