@model Kamtek_GestioN.ViewModel.ArticleVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" justify-content-lg-start m-3" >Ajouter un article</h1>


<hr />
<div class="container" >
    <div class="row justify-content-lg-start">
        
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-around">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Designation" class="control-label font-weight-bold"></label>
                        <input asp-for="Designation" class="form-control font-weight-bold" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Descriptif" class="control-label font-weight-bold"></label>
                        <input asp-for="Descriptif" class="form-control" />
                        <span asp-validation-for="Descriptif" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="PhotoVM" class="control-label font-weight-bold"></label>
                        <input asp-for="PhotoVM" class="form-control" id="inputGroupFile01" onchange="document.getElementById('ImageToShow').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="PhotoVM" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <img id="ImageToShow" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                        <label asp-for="Etat" class="control-label font-weight-bold"></label>
                        <input asp-for="Etat" class="form-control" />
                        <span asp-validation-for="Etat" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DateEntree" class="control-label font-weight-bold "></label>

                        <input asp-for="DateEntree" class="form-control" />
                        <span asp-validation-for="DateEntree" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DateSortie" class="control-label font-weight-bold"></label>
                        <input asp-for="DateSortie" class="form-control" />
                        <span asp-validation-for="DateSortie" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="IdCategorie" class="control-label font-weight-bold"></label>
                        <select asp-items="@(new SelectList(ViewBag.listeCategorie,"Id","Nom"))" asp-for="IdCategorie" class="form-control">
                        </select>
                        <span asp-validation-for="IdCategorie" class="text-danger"> </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Quantite" class="control-label font-weight-bold"></label>
                        <input asp-for="Quantite" class="form-control" />
                        <span asp-validation-for="Quantite" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />


            <div class="form-group ">
                <input type="submit" value="Ajouter à la liste" class="btn btn-info btn-block" />

                <a asp-action="Index" class="btn btn-secondary btn-block"> Retour aux articles</a>
            </div>
        </form>
       
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
