@model IEnumerable<Kamtek_GestioN.Models.Categorie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catègories</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Ajouter une catégorie</a>
</p>
<table class="table w-50">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
             
                <a class="btn btn-info btn-block" asp-action="Details" asp-route-id="@item.Id">Details</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
