@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

            @if (SignInManager.IsSignedIn(User))
            {

               
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <div class="dropdown">

                    <button class="btn btn-art dropdown-toggle btn-info" type="button" id="btnGroupDrop1" data-toggle="dropdown" aria-haspopup="true">
                        Article
                    </button>

                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" asp-controller="Articles" asp-action="Create">Ajouter Article</a>
                        <a class="dropdown-item" asp-controller="Articles" asp-action="Index">Liste Articles</a>

                    </div>
                </div>
                <div class="dropdown">

                    <button class="btn btn-art btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégorie
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item" asp-controller="Categories" asp-action="Create">Ajouter Categorie</a>
                        <a class="dropdown-item" asp-controller="Categories" asp-action="Index">Liste Categories</a>

                    </div>
                </div>

                <div class="dropdown">

                    <button class="btn btn-art btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Commande
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item" asp-controller="Commandes" asp-action="Index">Ma Commande</a>
                        <a class="dropdown-item" asp-controller="Commandes" asp-action="Liste">Liste Commandes</a>

                    </div>
                </div>
            </div>
        </nav>

            //rutpure bootstrap -----------------------------

    <div class="collapse navbar-collapse align-items-end" id="navbarSupportedContent3">
        
            <div class="nav-item">
                
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img height="55" width="60" src="~/Images/Login.png" asp-append-version="true" />
                    Connecté(e)

                </a>
                
            </div>
            <div class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">
                        <img height="60" width="65" src="~/Images/Logout.png" asp-append-version="true" />
                        Déconnexion
                    </button>
                </form>
            </div>
        
        
   </div>


        }
        else
        {
        
            <div class="nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Register">
                    <img height="80" width="95" src="~/Images/Inscription.jpg"  asp-append-version="true" />
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Login">
                    <img height="80" width="100" src="~/Images/Connexion2.jpg" asp-append-version="true" />
                </a>
            </div>

        
        }

    

